@import url('https://fonts.googleapis.com/css2?family=Amita&family=Kalam&family=Lateef&display=swap');
*{
    margin: 0;
}
#logo{
  color: rgb(255, 255, 255);
  margin-left: 2vw;
  font-size: 3vw;
}
#Home{
    width: 100vw;
    height: 100vh;
    background-image: url('p1.jpg'), url('p4.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#navbar {
    overflow: hidden;
    background-color: rgba(0, 89, 255, 0.568);
    height: 5vw;
    width: 100vw;
    font-weight:bolder;
    font-family:cursive ;
    position: fixed;
    font-size: 2vw;
    color: rgb(255, 255, 255);
}
#navOptions{
  display: none;
}
  
#navbar a {
    float: right;
    font-size: 2vw;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 2vw;
}

  #navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(140, 0, 255, 0.63);
  }
  
#courses{
  padding-top: 10vh;
}
#courseHead{
  text-align: center; font-size:3vw; font-family:Verdana, Geneva, Tahoma, sans-serif; color: aqua;
}
#semesterContent{
  width: 80vw;
  height: 50vh;
  margin-left: 10vw;
  border: 2px solid blueviolet;
  border-radius: 20px;
}
.semOptions{
  text-decoration: none;
  color: rgb(6, 64, 255);
  font-size: 20px;
  padding: 0px;
}
#sub1{
  text-align: center;
  border: 1px solid fuchsia;
  border-radius: 20px;
}
.purchasebut{
  border-radius: 20px;
  height: 8vh;
  background-color: rgba(0, 119, 255, 0.404);
  font-size: x-large;
}
#cssem{
  width: 99vw;
  height: 30vh;
  display: flex;
  border: black;
  border-radius: 25px;
  
}
#cssem1, #cssem2, #cssem3{
  width: 20vw;
  height: 20vh;
  margin-right: 100px;
  margin-left: 5%;
  border: rgb(0, 60, 255);
  border-radius: 25px;
  background-color: rgb(0, 149, 248);
  padding: 20px;
  text-align: center;
  color:white;
}
#special{
  text-align: center;
  font-size: 100px;
  font-family: cursive;
  color: white;
  background-image: url('p5.jpg');
  background-size: 100%;
  width: 100%;
  height: 500px;
}
footer{background-color: rgba(27, 27, 209, 0.863);}


a{
  text-decoration: none;
}


@media screen and (max-width: 400px) {
  #navbar{
    height: 10vh;
    display: flex;
    
  }
  #logo{
    font-size: 8vw;
  }
  #navbar #links{
    display: none;
  }
  .semOptions{
    text-decoration: none;
    color: rgb(6, 64, 255);
    font-size: 5vw;
  }
  #navOptions{
    float: right;
    width: 5vh;
    height: 5vh;
    margin-top: 2vh;
    margin-left: 38vw;

  }
  #home{
    width: 100vw;
    height: 80vh;
    background-image: url('p4.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:100% 100%;
  text-align: center;
  }
  #welcomeNote{
    padding-top: 60px;
  }
 
  #courseHead{
    text-align: center; font-size:20px; font-family:Verdana, Geneva, Tahoma, sans-serif; color: aqua;
  }

  #cssem{
    width: 100%;
    height:400px;
    display: block;
   
    border-radius: 25px;
    
    
  }
  #cssem1, #cssem2, #cssem3{
    width: 100px;
    height: 75px;
    margin-right: 20px;
    border-radius: 25px;
    background-color: rgb(0, 149, 248);
    text-align: center;
    color:white;
    float: left;
  }
  #sec1{
    background-image: url('p5.jpg');
    width:100vw;
    height: 80vh;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 40px;
    
  }
  #special{
    text-align: center;
    font-size: 50px;
    font-family: cursive;
    color: white;
    background-image: url('p5.jpg');
    background-repeat: no-repeat;
    background-size: 100% 70%;
    width: 100%;
    height: 600px;
  }
  #special img{
    width: 90%;
  }
  footer{background-color: rgba(27, 27, 209, 0.863); margin-top: -100px;}
  #quiz img{
    width: 340px;
  }
  
}
